:root {
  --grad0: linear-gradient(
    90deg, 
    rgba(100,100,255,0.0) 0%, 
    rgba(100,100,255,0.1707317073170732) 50%, 
    rgba(100,100,255,0.375609756097561) 100%);

  --grad1: linear-gradient(
    180deg, 
    rgba(100,100,255,0.00440650406504066) 0%, 
    rgba(100,100,255,0.0207317073170732) 50%, 
    rgba(100,100,255,0.125609756097561) 100%);

  --grad2: linear-gradient(
    0deg, 
    rgba(100,100,255,0.2440650406504066) 0%, 
    rgba(100,100,255,0.7707317073170732) 50%, 
    rgba(100,100,255,0.975609756097561) 100%);

    
  --grad3: linear-gradient(
    180deg, 
    rgb(43, 16, 104) 0%,
    rgb(153, 253, 255) 50%, 
    rgb(43, 16, 104) 100%);
}


* {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-size: 30px;

    touch-action: none;
    background: transparent;
    

    /* no select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */

    color: rgb(111,111,111);
}
.start-screen {

  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #bebebe;
  text-align: center;
  align-items: center;
  font-size: 300%;
  background-image: url('logo.png');
  background-size: fit;
  background-position: center center;
  background-repeat: no-repeat;
}
* :focus {
  outline: none;
}
.tr-corner {
  position: absolute;
  top: 0;
  right: 0;
}
#node-edit-page {
  // pointer-events: none;
  padding: 7%;
  background-color: rgba(202, 255, 241, 0.90);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  box-sizing: border-box;
  display: none;
}

#keyboard-page {
  width: 100%;
  height: 100%;
}
#kb-and-sidepanel {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  // display: flex;
}
.wood-element-0 {
  display: inline-block;
  background-image: url('wood.jpg');
  width: 7%;
  height: 100%;
  background-size: 100% 110%;
}
#keyboard {
  display: inline-block;
  background: var(--grad3);
  // background-image: url('wood.jpg');
  // background-size: 7% 110%;
  width: 100%;
  height: 100%;
  // padding: 0% 7%;
  // box-sizing: border-box;
}

#side-panel { 
  display: none;
  margin: 0% 7%;
}



.selected {
  background-color: rgba(0, 255, 96, 0.09);
  background: rgba(0, 255, 96, 0.09);
}

.adsr-type {
  display: inline-block;
}
#adsr-visual {
  width: 100%;
  transition: height 0.2s;
}

#graph-page {
  background-image: url('bgpic.png');
  display: none;
  display: block;
}
.full {
  width: 100%;
  height: 100%;
}

.page-swapper {
  background-color: black;
  color:white;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  right: 0;
  z-index: 99;
}

.page{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
}


.node-properties {
  display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: auto;
}
.column {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  border-width: 5px;
  border-style: double solid double solid;
  box-sizing: border-box;
  border-color: rgba(0, 255, 115, 0.285);
}
.height100 {
  height: 100%;
}

#mappings-page {
  display: 'none';
  height: auto;
  width: auto;
  margin-right: 20%;
}
#presets {
  position: absolute;
  bottom: 0;
  left: 0;
}


select { 
  border:0px;
  outline:0px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  // background-image: url('wood.jpg'), 
  //   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  color: rgb(73, 91, 97);
  font-size: 1.5em;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectable {

    /* no select */
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Old versions of Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */
}

.neumorph {
  border: none;
  padding: 5px;
  border-radius: .5em;
  box-shadow:
    -12px -12px 12px 0 rgba(255,255,255,0.1),
    12px 12px 12px 0 rgba(0,0,0,0.03);
  font-family: monospace;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

  input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: var(--grad1);
    border-radius: 5px;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    background: var(--grad2);
  }
  input[type=range]:active::-webkit-slider-runnable-track {
    background: var(--grad1);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grad1);
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 50px;
    width: 80px;
    margin-top: -20px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grad1);
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    height: 50px;
    width: 80px;
    margin-top: -20px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }


  
#vol-slider {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top:  5px;
  left: 7vw;
  width: 100px;
  height: 100px;
  box-shadow: none;
}  
#vol-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #51005f53;
  background: rgba(77, 70, 93, 0.952);
  height: 30px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.js-dial {
  width: 21.5%; // 7% margin on the div it's inside of
}