
* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-size: 30px;

    touch-action: none;
    background: transparent;
    

    /* no select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */

    color: rgb(111,111,111);
}
* :focus {
  outline: none;
}

#node-edit-page {
  // pointer-events: none;
  padding: 7%;
  background-color: rgba(202, 255, 241, 0.90);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  box-sizing: border-box;
  display: none;
}

.selected {
  background-color: rgba(0, 255, 96, 0.09);
  background: rgba(0, 255, 96, 0.09);
}

.adsr-type {
  display: inline-block;
  width: 20%;
}

#graph-page {
  background-image: url('bgpic.png');
  display: none;
  display: block;
}

#keyboard-page {
  width: 100%;
  height: 100%;
}

#page-select {
  position: absolute;
  top: 0;
  width: 160px;
  height: 50px;
  right: 0;
  z-index: 99;
}

.page{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
}
#settings-page {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 90%;
  background-color: orange;
  background-color: white;
  display:none;
  grid-template-columns: auto auto;
  position: absolute;
  left: 0;
  top: 0;
}

.node-properties {
  display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: auto;
}
.column {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  border-width: 5px;
  border-style: double solid double solid;
  box-sizing: border-box;
  border-color: rgba(0, 255, 115, 0.285);
}
.height100 {
  height: 100%;
}
select {
  height: 90px;
}
#mappings-page {
  display: 'none';
  height: auto;
  width: auto;
  margin-right: 20%;
}
#presets {
  position: absolute;
  bottom: 0;
  left: 0;
}

// #osc-frequency-value {
//   width: 100px;
// }

// #keyboard-mode {
//   border:none;
//   padding: 1em;
//   border: 1px solid #EEE;
//   border-radius: .5em;
//   box-shadow:
//       -12px -12px 12px 0 rgba(255,255,255,1),
//       12px 12px 12px 0 rgba(0,0,0,0.1)
// }







.selectable {

    /* no select */
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Old versions of Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */
}

.neumorph {
  border: none;
  padding: 5px;
  border-radius: .5em;
  box-shadow:
    -12px -12px 12px 0 rgba(255,255,255,0.1),
    12px 12px 12px 0 rgba(0,0,0,0.02);
  font-family: monospace;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

  input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    background: rgba(100,100,255,0.3);
    border-radius: 5px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 50px;
    width: 80px;
    border-radius: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
  }
  input[type=range]:active::-webkit-slider-runnable-track {
    background: rgba(100,100,255,0.7);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 30px;
    width: 15px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    height: 30px;
    width: 15px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }


  
#vol-slider {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top:  5px;
  left: 7vw;
  width: 100px;
  height: 100px;
  box-shadow: none;
}  
#vol-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #51005f53;
  background: rgba(77, 70, 93, 0.952);
  height: 30px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}