:root {
  --grad0: linear-gradient(
    90deg, 
    rgba(100,100,255,0.0) 0%, 
    rgba(100,100,255,0.1707317073170732) 50%, 
    rgba(100,100,255,0.375609756097561) 100%);

  --grad1: linear-gradient(
    180deg, 
    rgba(100,100,255,0.00440650406504066) 0%, 
    rgba(100,100,255,0.0207317073170732) 50%, 
    rgba(100,100,255,0.125609756097561) 100%);

  --grad2: linear-gradient(
    0deg, 
    rgba(100,100,255,0.2440650406504066) 0%, 
    rgba(0, 242, 255, 0.771) 50%, 
    rgb(215, 192, 250) 100%);

    
  --grad3: linear-gradient(
    180deg, 
    rgb(0, 0, 0) 0%, 
    rgba(0, 229, 255, 0.319) 50%,
    rgb(104, 104, 104) 100%);
}


* {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-size: 30px;

    touch-action: none;
    background: transparent;
    

    /* no select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */

    color: rgb(111,111,111);
}
.start-screen {

  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #bebebe;
  text-align: center;
  align-items: center;
  font-size: 300%;
  background-image: url('logo.png');
  background-size: fit;
  background-position: center center;
  background-repeat: no-repeat;
}
* :focus {
  outline: none;
}
.tr-corner {
  position: absolute;
  top: 0;
  right: 0;
}
#node-edit-page {
  padding: 7%;
  background-color: rgba(202, 255, 241, 0.90);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  box-sizing: border-box;
  display: none;
}

#keyboard-page {
  width: 100%;
  height: 100%;
}
#kb-and-sidepanel {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  font-size: 0;
}
.wood-element {
  display: inline-block;
  background-image: url('wood.jpg');
  width: 7%;
  height: 100%;
  overflow: hidden;
}
.left-wood-element {
  background-position: right;
  background-size: 200% 100%;
}
.right-wood-element {
  background-size: 200% 100%;
  background-position: right;
  background-size: 150% 100%;

  /* gets rid of weird gap in ios  */
  margin-left: -1px;
  padding-left: 1px;
}
#keyboard {
  display: inline-block;
  transition: background-color 0.3s ease-out;
  width: 100%;
  height: 100%;
  background-color: #272727;
  transition: width 1s;
}

#side-panel-container { 
  position: absolute;
  background-color: #333;
  /* background-image: url('wood.jpg'); */
  /* filter: brightness(50%); */
  width: 0px;
  transition: width 1s;
  right: 0;
  background-size: 100% 100%;
  display: none;
  font-size: 30;
  height: 100vh;
  vertical-align: top;
}

.side-panel-content {
  width: 100%;
  display: inline-flex;
  flex-direction: column; 
  align-items: center;
}

.controls {
  width: 90%;
}



.selected {
  background-color: rgba(0, 255, 96, 0.09);
  background: rgba(0, 255, 96, 0.09);
}

#adsr-visual {
  width: 100%;
  transition: height 0.2s;
}

#graph-page {
  background-image: url('bgpic.png');
  display: none;
  display: block;
}
.full {
  width: 100%;
  height: 100%;
}


.page{
  display:none;
  position: absolute;
  left: 0;
  top: 0;
}


.node-properties {
  display: grid;
}
.column {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  border-width: 5px;
  border-style: double solid double solid;
  box-sizing: border-box;
  border-color: rgba(0, 255, 115, 0.285);
}
.height100 {
  height: 100%;
}

#mappings-page {
  display: 'none';
  height: auto;
  width: auto;
  margin-right: 20%;
}
#presets {
  position: absolute;
  bottom: 0;
  left: 0;
}


select { 
  border:0px;
  outline:0px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: center right;
  background-repeat: no-repeat;
  color: rgb(139, 158, 165);
  font-size: 1.5em;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectable {

    /* no select */
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Old versions of Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
    user-select: all; /* Non-prefixed version, currently
                                    // supported by Chrome, Opera and Firefox */
}

.neumorph {
  border: none;
  padding: 5px;
  border-radius: .5em;
  box-shadow:
    -12px -12px 12px 0 rgba(255,255,255,0.02),
    12px 12px 12px 0 rgba(0,0,0,0.1);
  font-family: monospace;
  color: rgb(160, 160, 160);
  cursor: pointer;
}



.toggle-sidepanel {
  font-size: 2em;
  width: 7vw;
  height: fit-content;
  margin-top: 85vh;
  right: 0;
  z-index: 99;
  color: rgba(150,150,150,0.3);
  box-shadow:
    -12px -12px 12px 0 rgba(255, 255, 255, 0.025),
    12px 12px 12px 0 rgba(0,0,0,0.15);
}

  input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: var(--grad1);
    border-radius: 5px;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -18px;
    height: 50px;
    width: 50px;
    border-radius: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    background: var(--grad2);
  }
  input[type=range]:active::-webkit-slider-runnable-track {
    background: var(--grad1);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grad1);
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    height: 50px;
    width: 80px;
    margin-top: -20px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: var(--grad1);
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    height: 50px;
    width: 80px;
    margin-top: -20px;
    border-radius: 1em;
    border: 1px solid #51005f53;
    background: rgba(218, 212, 236, 0.952);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }


  
#vol-slider {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top:  5px;
  left: 7vw;
  width: 100px;
  height: 100px;
  box-shadow: none;
}  
#vol-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #51005f53;
  background: rgba(77, 70, 93, 0.952);
  height: 30px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

#adsr-box {
  width: 100%;
}
.shadow-knob {
  display: inline-block;

  width: 80px;
  height: 80px;

  border-radius: 100%;
  background-image: url('shadow-knob.png');
  background-size: 100% 100%;
}

.js-dial {
  position: absolute;
  display: inline-block;
  border: 0px groove #eee;
  box-sizing: border-box;
  width: 80px;
  height: 80px;

  border-radius: 100%;
  
  background-image: url('knob.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .7;

  transform: none;
}